<web-app>
	<servlet>
		<servlet-name>plugin-service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.dynatrace.easytravel.plugins</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>plugin-service</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>